{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block content %}
<h1>🗂️ Categories</h1>
<div class="grid">
{% for category in categories %}
    <div class="card">
        <h3>{{ category.name }}</h3>
        <a class="btn" href="/products-category/{{ category.id }}">View Products</a>
    </div>
{% else %}
    <p>No categories found</p>
{% endfor %}
</div>
{% endblock %}
